#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(121, 165, 121);
  border: solid 10px blue;
  border-style: double ;
  box-shadow:
  0 0 0 10px hsl(0, 72%, 65%),
  0 0 0 15px hsl(296, 95%, 46%);
}
.blur {
  box-shadow:
    0 0 0 10px hsl(0, 98%, 48%),
    0 0 0 15px hsl(296, 95%, 46%);
}

 h1 {
  color:rgb(167, 11, 251);
  text-shadow: lightskyblue 2px 0 7px;
  margin: 0
} 
form input {
  /* type=submit; */
  background:linear-gradient(90deg, red, orange, yellow, green, blue, purple);
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
